.wrapper {
  display: grid;
}

.card {
  width: 356px;
  height: 74px;
  box-shadow: 0 4px 12px #0000001a;
  border: 1px solid #eeeeee;
  background: white;
  border-radius: 8px;
  grid-area: 1 / 1;
  --ease-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(calc(var(--index) * var(--translate-increment)))
    scale(calc(1 - var(--index) * var(--scale-increment)));
  transition: transform 0.3s var(--ease-out-cubic);
}

.btn {
  padding: 0.8rem;
  margin-top: 2rem;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 0.4rem;
  color: #1a1a1a;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
